---
layout: page
title: 카테고리
permalink: /category
pagination:
  enabled: true
---

<!-- <div class="blog-area bg-color1 p-t-130 p-b-130">
  <div class="container">
    <div class="blog-wrapper">
      <div class="row"> 
        {% for post in site.posts %}
          <div class="col-md-6">
            {% include post_content.html %}
          </div>
        {% endfor %}
      </div>
      <div class="row justify-content-center">
        {% include pagination.html %}
      </div>
      </div>
    </div>
</div> -->

<div class="blog-area bg-color1 p-t-130 p-b-130">
  <div class="container">
    <div class="blog-wrapper">
      <div class="row"> 
        테스트중
        <br>
        {% if site.categories %}
          {% for category in site.categories limit:5 %}
          <div>{{ category }}</div>
          <!-- <li class="list-inline-item"><i class="fas fa-tag"></i><a href="{{site.baseurl}}/category/{{post.categories[0] | downcase}}">{{post.categories[0] | capitalize}}</a></li> -->
          <!-- <meta content="{{ category }}" property="article:section"> -->
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>