---
layout: page
title: 카테고리
permalink: /category
pagination:
  enabled: true
---

<div class="blog-area bg-color1 p-t-130 p-b-130">
  <div class="container">
    <div class="blog-wrapper">
      <div class=""> 
        {% for category in site.categories %}
          <h2>{{ category[0] }}</h2>
          <ul>
            {% for post in category[1] %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
        <!-- <p>{{ site.categories }}</p> -->
        <!-- <li class="list-inline-item"><i class="fas fa-tag"></i><a href="{{site.baseurl}}/category/{{post.categories[0] | downcase}}">{{post.categories[0] | capitalize}}</a></li> -->
      </div>
    </div>
  </div>
</div>