<footer class="footer-area bg-color2">
    <div class="container">
        <div class="footer-widget-wrraper p-b-100">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a href="{{site.url}}" class="footer-logo"><img src="{{site.logo}}" alt="{{site.title}}" /></a>
                    <div class="footer-widget">
                        <p>When you need a kickstart in your business and you have no time for coding for your website, will take that job </p>
                        <ul class="social-link list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.reddit.com/"><i class="fab fa-reddit-alien"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">About</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="#">Partners
                        </a>
                            </li>
                            <li>
                                <a href="#">
                        Career
                        </a>
                            </li>
                            <li><a href="#">
                        Reviews
                        </a>
                            </li>
                            <li><a href="#">
                        Terms & Conditions
                        Help
                        </a>
                            </li>
                            <li><a href="#">
                        Help
                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Solutionst</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="#">Marketing Teams</a></li>
                            <li><a href="#">Creative Teams</a></li>
                            <li><a href="#">Your Company</a></li>
                            <li><a href="#">Enterprise</a></li>
                            <li><a href="#">Road map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="widget-title heading-5">Subscribe Us</h5>
                        </div>
                        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
                            <div class="form-group">
                                <input type="text" class="form-control required email" placeholder="Your Email">
                            </div>
                            <div class="form-group m-0">
                                <button name="subscribe" class="btn btn-primary btn-block" type="submit">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-wrapper text-center">
            <p>© {{ 'now' | date: "%Y" }} {{site.title}} - Designed by <a href="https://themeix.com">Themeix</a></p>
        </div>
        <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    </div>
    <ul class="footer-shape list-inline">
        <li class="left"><img src="{{site.baseurl}}/assets/images/footer-shap.png" alt="footer shape" /></li>
        <li class="right"><img src="{{site.baseurl}}/assets/images/footer-shap2.png" alt="footer shape" /></li>
    </ul>
</footer>