<footer class="footer-area bg-color2">
    <div class="container">
        <div class="footer-widget-wrraper">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">About</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="#">Partners
                        </a>
                            </li>
                            <li>
                                <a href="#">
                        Career
                        </a>
                            </li>
                            <li><a href="#">
                        Reviews
                        </a>
                            </li>
                            <li><a href="#">
                        Terms & Conditions
                        Help
                        </a>
                            </li>
                            <li><a href="#">
                        Help
                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Solutionst</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="#">Marketing Teams</a></li>
                            <li><a href="#">Creative Teams</a></li>
                            <li><a href="#">Your Company</a></li>
                            <li><a href="#">Enterprise</a></li>
                            <li><a href="#">Road map</a></li>
                        </ul>
                    </div>
                </div>    


                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="widget-title heading-5">Subscribe</h5>
                        </div>
                        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
                            <div class="form-group">
                                <input type="text" class="form-control required email" placeholder="Your Email">
                            </div>
                            <div class="form-group m-0">
                                <button name="subscribe" class="btn btn-primary btn-block" onclick="return false;">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>    
                
                
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <!-- 네이버 이웃커넥트 -->
                        <script src="https://blog.naver.com/connect/WidgetRender.naver?blogId=dmltkd1974&widgetSeq=1&authCode=1680e8827de3d8b8da7dd7b8213c0e2bafc812c">                                
                        </script>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-copyright-wrapper text-center">
            <p><a href="https://hits.sh/github.com/yuuisang/hits/"><img alt="Hits" src="https://hits.sh/github.com/yuuisang/hits.svg?view=today-total&color=ffffff&labelColor=216ae6"/></a></p>
            <p>© {{ 'now' | date: "%Y" }} {{site.title}} - Copyright <a href="https://github.com/yuuisang">woody</a></p>
        </div>
        <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    </div>
    <ul class="footer-shape list-inline">
        <li class="left"><img src="{{site.baseurl}}/assets/images/footer-shap.png" alt="footer shape" /></li>
        <li class="right"><img src="{{site.baseurl}}/assets/images/footer-shap2.png" alt="footer shape" /></li>
    </ul>
</footer>