<footer class="footer-area bg-color2">
    <div class="container">
        <div class="footer-widget-wrraper">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a href="{{site.url}}" class="footer-logo">우디의 테크블로그</a>
                    <div class="footer-widget">          
                        <div class="author-name" style="margin-bottom: 40px;">
                            <img src="/assets/images/author-img5.jpg" alt="{{page.name}}" 
                                style="max-width: 150px;border-radius: 50%;margin: 0 auto;display: block;"/>
                        </div>
                        <p style="display: block;text-align: center;">주식 및 코인 투자를 좋아하는 웹 개발자</p>
                        <ul class="social-link list-inline" style="text-align: center;">
                            <li class="list-inline-item"><a href="https://www.github.com/yuuisang"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                            <!-- <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.reddit.com/"><i class="fab fa-reddit-alien"></i></a></li> -->
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget">
                        <!-- <div class="widget-title">
                            <h5 class="heading-5">About</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="#">Menu A</a></li>
                            <li><a href="#">Menu B</a></li>
                            <li><a href="#">Menu C</a></li>
                            <li><a href="#">Menu D</a></li>
                        </ul> -->
                    </div>
                </div>       

                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4 class="heading-4" style="color: #fff;">네이버 이웃추가</h4>
                        </div>
                        <div>
                            <!-- 네이버 이웃커넥트 -->
                            <script src="https://blog.naver.com/connect/WidgetRender.naver?blogId=dmltkd1974&widgetSeq=1&authCode=1680e8827de3d8b8da7dd7b8213c0e2bafc812c">                                
                            </script>
                        </div>
                    </div>
                </div>

                         

            </div>
        </div>
        <div class="footer-copyright-wrapper text-center">
            <p><a href="https://hits.sh/github.com/yuuisang/hits/"><img alt="Hits" src="https://hits.sh/github.com/yuuisang/hits.svg?view=today-total&color=ffffff&labelColor=216ae6"/></a></p>
            <p>© {{ 'now' | date: "%Y" }} {{site.title}} - Copyright <a href="https://github.com/yuuisang">woody</a></p>
        </div>
        <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    </div>
    <ul class="footer-shape list-inline">
        <li class="left"><img src="{{site.baseurl}}/assets/images/footer-shap.png" alt="footer shape" /></li>
        <li class="right"><img src="{{site.baseurl}}/assets/images/footer-shap2.png" alt="footer shape" /></li>
    </ul>
</footer>