---
layout: default
---

<div class="blog-area bg-color1 p-t-130 p-b-100">
<div class="container div-inner-set">
    <div class="blog-wrapper">   
        <div class="row">
            <div class="col-md-10 m-auto">
            {% if page.post_image %}
            <div class="blog-media m-b-30">
                <img src="{{page.post_image}}" alt="{{page.title}}" />
            </div>
            {% endif %}
            <br>
            <!-- 상단 광고 2개 삽입 start -->
            <div class="top-ads" 
                style="display: flex;margin: 20px 0 20px;margin-top: 5.0em;"
            >
                <div id="ad-top-left" class="revenue_unit_item adsense" 
                    style="margin: auto;
                        overflow: hidden;
                        padding: 5px;
                        box-shadow: 0 0 10px 0 rgb(25 100 227 / 10%);
                        transition: all .5s ease;
                        border-radius: 5px;
                        background-color: #fff;
                        "
                        
                >
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle top-left" style="display: block;width: 336px;height: 280px;"
                                data-ad-client="ca-pub-2114737769603426"
                                data-ad-slot="8667772012"
                                data-ad-format="rectangle"
                                data-full-width-responsive="true"></ins>
                    <script>
                        if(window.innerWidth < 710) {
                            document.getElementById('ad-top-left').remove();
                        } else {
                            //adPush();
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        }
                    </script>
                </div>
                <div id="ad-top-right" class="revenue_unit_item adsense" 
                    style="margin: auto;
                        overflow: hidden;
                        padding: 5px;
                        box-shadow: 0 0 10px 0 rgb(25 100 227 / 10%);
                        transition: all .5s ease;
                        border-radius: 5px;
                        background-color: #fff;
                        "
                >
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle top-right" style="display: block;width: 336px;height: 280px;"
                                data-ad-client="ca-pub-2114737769603426"
                                data-ad-slot="1755579345"
                                data-ad-format="rectangle"
                                data-full-width-responsive="true"></ins>
                    <script>
                        //adPush();
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <!-- 상단 광고 2개 삽입 end -->
            <br>

            <div class="entry-content blog-spacing">
             {{page.content}}
            </div>

            <div class="entry-content blog-spacing">
                <!-- 네이버 이웃커넥트 -->
                <script src="https://blog.naver.com/connect/WidgetRender.naver?blogId=dmltkd1974&widgetSeq=1&authCode=1680e8827de3d8b8da7dd7b8213c0e2bafc812c">                                
                </script>
            </div>
            
            <div class="blog-share-tags blog-spacing">
                <div class="blog-author-share">
                  {% include social_share.html %}
                </div>
            </div>
            {% include author_info.html %}
            {% include post_pagination.html %}
            {% include latest_posts.html %}

            <!-- 하단 멀티플렉스 광고 -->
            <div class="main-ads"
                style="
                padding: 5px;
                box-shadow: 0 0 10px 0 rgb(25 100 227 / 10%);
                transition: all .5s ease;
                border-radius: 5px;
                background-color: #fff;
                margin-bottom: 10px;
                "
            >
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-format="autorelaxed"
                        data-ad-client="ca-pub-2114737769603426"
                        data-ad-slot="1755579345"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <!-- 글 본문 밑 쿠팡 파트너스 -->
            <script>
                try {
                    setTimeout(function() {
                        var iframeNode = document.querySelector('iframe[id^="591916"]');
                        document.querySelector('#content_coopang').appendChild(iframeNode);
                    }, 1000);
                } catch (e) {
                    console.error(e);
                }
            </script>
            <div id="content_coopang" style="padding: 5px; margin-bottom: 30px;
            box-shadow: 0 0 10px 0 rgb(25 100 227 / 10%);
            transition: all .5s ease;
            border-radius: 5px;
            background-color: #fff;"></div>
            <!-- / 글 본문 밑 쿠팡 파트너스 -->

            <div class="comment-wrapper blog-spacing">
                <script src="https://utteranc.es/client.js"
                    repo="yuuisang/utterances"
                    issue-term="pathname"
                    label="utterances"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
                </script>
            </div>
            </div>
        </div>
    </div>
 </div>
</div>