---
layout: default
---

<div class="blog-area bg-color1 p-t-130 p-b-100">
<div class="container">
    <div class="blog-wrapper">   
        <div class="row">
            <div class="col-md-10 m-auto">
            {% if page.post_image %}
            <div class="blog-media m-b-30">
                <img src="{{page.post_image}}" alt="{{page.title}}" />
            </div>
            {% endif %}
            <div class="entry-content blog-spacing">
             {{page.content}}
            </div>
            <div class="blog-share-tags blog-spacing">
                <div class="blog-author-share">
                  {% include social_share.html %}
                </div>
            </div>
            {% include author_info.html %}
            {% include post_pagination.html %}
            {% include latest_posts.html %}

            <!-- 글 본문 밑 쿠팡 파트너스 -->
            <script>
                try {
                    setTimeout(function() {
                        var iframeNode = document.querySelector('iframe[id^="591916"]');
                        document.querySelector('#content_coopang').appendChild(iframeNode);
                    }, 1000);
                } catch (e) {
                    console.error(e);
                }
            </script>
            <div id="content_coopang"></div>
            <!-- / 글 본문 밑 쿠팡 파트너스 -->

            <div class="comment-wrapper blog-spacing">
              {% include disqus_comments.html %}
            </div>
            </div>
        </div>
    </div>
 </div>
</div>